{{- if .Values.exporter.enabled  }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ .Release.Namespace }}
  name: openstack-controller-exporter-account
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: "{{ .Values.osdpl.namespace }}"
  name: "openstack-controller-exporter-role-{{ .Values.osdpl.namespace }}"
rules:
  # Application: certificate controller
  - apiGroups: [""]
    resources: [secrets]
    verbs: [list, get, watch]
  # Application: read-only access for watching cluster-wide.
  - apiGroups: [lcm.mirantis.com]
    resources: [openstackdeployments]
    verbs: [list, get, watch]
  - apiGroups: [lcm.mirantis.com]
    resources: [openstackdeploymentstatus]
    verbs: [list, get, watch]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  namespace: "{{ .Values.osdpl.namespace }}"
  name: "openstack-controller-exporter-rolebinding-{{ .Values.osdpl.namespace }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: "openstack-controller-exporter-role-{{ .Values.osdpl.namespace }}"
subjects:
  - kind: ServiceAccount
    name: openstack-controller-exporter-account
    namespace: {{ .Release.Namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "openstack-controller.fullname" . }}-exporter
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "openstack-controller.name" . }}-exporter
    helm.sh/chart: {{ include "openstack-controller.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.exporter.replicaCount }}
  # Make sure old operator gone to prevent that old version start
  # handling resume event.
  strategy:
   type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "openstack-controller.name" . }}-exporter
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "openstack-controller.name" . }}-exporter
        app.kubernetes.io/instance: {{ .Release.Name }}
        application: openstack-controller
        component: exporter
    spec:
      serviceAccountName: openstack-controller-exporter-account
      containers:
        - name: exporter
          image: {{ tuple . .Values.image | include "getImageUrl" }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - osctl-exporter
          env:
            {{- range $optionName, $optionValue := .Values.exporter.settings.raw }}
            - name: {{ $optionName }}
              value: "{{ $optionValue }}"
            {{- end }}
          livenessProbe:
            # NOTE(vsaienko): do tcp checks only to avoid starting polling functions.
            tcpSocket:
              port: {{ .Values.exporter.settings.raw.OSCTL_EXPORTER_BIND_PORT }}
            {{- toYaml .Values.exporter.pod.liveness.params | nindent 12}}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.exporter.settings.raw.OSCTL_EXPORTER_BIND_PORT }}
            {{- toYaml .Values.exporter.pod.readiness.params | nindent 12}}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: os-clouds
              mountPath: /etc/openstack/
            - name: exporter-etc
              mountPath: /etc/openstack-controller/
      volumes:
        - name: os-clouds
          emptyDir: {}
        - name: exporter-etc
          secret:
            secretName: {{ include "openstack-controller.fullname" . }}-exporter-etc
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{-  end }}
